#proposals-page-container {
  margin-top: 70px;
  margin-bottom: 150px;
  overflow: hidden;
  .create-plan {
    margin: 20px auto 10px;
    padding: 15px;
    width: 100%;
    border: 2px solid $border-frame-color;
    border-radius: 4px;
    img {
      margin-right: 10px;
      width: 20px;
    }
    a {
      display: block;
      width: 100%;
      font-size: 24px;
      color: $main-color;
      text-align: center;
    }
  }
  .plan-list {
    margin: 35px auto 10px;
    padding: 15px 0;
    width: 100%;
    border: 2px solid $border-frame-color;
    border-radius: 4px;
    font-size: xx-small;
    .plan-left {
      border-right: 1px solid $border-frame-color;
      .plan-kind {
        width: 100%;
        padding: 5px 10px;
        margin: 0;
        border-radius: 2px;
        color: #fff;
        background-color: $main-color;
      }
      .plan-titles {
        margin: 10px 20px 20px 30px;
        .plan-title {
          margin: 0;
        }
        .plan-title-no {
          color: $main-color;
          margin-right: 5px;
        }
      }
      .plan-buttom {
        text-align: right;
        > a {
          display: inline-block;
          padding: 10px 0;
          width: 30%;
          border-radius: 5px;
          text-align: center;
        }
      }
      .plan-edit {
        margin-right: 10px;
        color: #108ec1;
        border: 2px solid #108ec1;
      }
      .plan-delete {
        color: #f15a24;
        border: 2px solid #f15a24;
      }
    }
    .plan-right {
      .plan-details {
        margin: 20px 0 10px 60px;
        color: $text-base-color;
        .plane-order {
          margin: 0;
        }
        .plan-price {
          margin: 0;
          .plan-ccy {
            font-size: x-small;
          }
          .plan-mony {
            color: #000;
            font-size: large;
            font-weight: bold;
          }
          .plan-tax {
            font-size: xx-small;
          }
        }
      }
      .plan-proposal {
        width: 90%;
        padding: 10px 0;
        margin: 0 auto;
        line-height: 100%;
        border-radius: 5px;
        background-color: #dc1e54;
        box-shadow: 0 4px #ccc;
        a {
          display: block;
          width: 100%;
          color: #fff;
          text-align: center;
        }
        img {
          position: absolute;          
          margin-left: 80px;
          width: 8px;
        }        
      }
    }
  }
  .create-datetime {
    font-size: 8px;
    color: $text-base-color;
    .create {
      margin-right: 10px;
      font-weight: bold;
    }
  }
}