#index-header {
  .company-logo {
    margin-top: 2%;
    margin-left: 5%;
    max-width: 80px;
  }
}

#index-page-container {
  padding-top: 5%;
  padding-bottom: 5%;
  color: $text-base-color;

  .title-header {
    text-align: center;
    margin-bottom: 15px;
    .title {
      font-size: small;
      font-weight: 700;
      color: rgba(0, 0, 0, 0.3);
      margin: 0px;
    }
  }

  .update-title {
    font-weight: bold;
    color: #F50;
  }

  .logo-wrapper {
    text-align: center;
    .logo {
      max-width: 380px;
    }
  }

  .index-top-btns {
    display: flex;
    margin: 0px;
    font-size: x-small;
    a {
      display: inline-block;
      width: 100%;
      color: #000;
      text-align: center;
      border: 2px solid #dc1e54;
      margin-top: 30px;
      padding: 10px 0;
    }
  }

  .update-info,
  .description {
    font-size: xx-small;
    width: 100%;
    border: solid 2px #CCC;
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    p {
      margin: 0px;
    }
  }

  .color-table {
    table {
      width: 100%;
    }
    td, th {
      height: 40px;
      text-align: center;
      font-weight: normal;
      border: solid 1px $border-frame-color;
    }
    .sales-end {
      color: #08F;
    }
    .new {
      color: #F50;
    }
  }
}